.box {
    animation-name: example;
    animation-duration: 3s;
    position: relative;
    background: red;
    margin:10px
  }
  
  @keyframes example {
    0%   {left:-100px;}
  /* 25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;} */
  100% {left:0px;}
  }